@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#000;
  background-color: #fff;
}
.page-header {
  color:#000 ;
  background: #fff;
}
.navigation-link {
  font-family: "PT Sans"sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: capitalize;
  color: #000;
  text-decoration:none;
  text-align: center;
  background-color:#fff;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .index-main {
  background-image: url("../images/index/mountains.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  color:  #000;
  background-color: var(--basic-white, #FFF);;
  }
  .index-main-image{
    display: block;
    margin: 0 auto;
  }
  .heading-text{
    font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
text-transform: uppercase;
text-align: center;
color:#333;
  }
  .heading-text-item{
font-family: "PT Sans";
color: var(--texts-second, #333);
text-align: center;
font-style: normal;
font-weight: 400;
line-height: 26px;
text-transform: none;}
.advantages-item{
  background-color:#82B3D3;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFFFFF;
}
.advantages-item-2 {
  display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #83B3D31F;
}
.advantages-item-3 {
display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #83B3D333;
}
.advantages-item-4 {
  display: flex;
  width: 400px;
  height: 385px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color:#83B3D31F;
  }
  .advantages-item-5 {
    display: flex;
    width: 400px;
    height: 385px;
    padding: 103px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color:#82B3D3;
    }
.advantages{
  background: color #83b3d3 12%;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  text-align: center;
color:#000;}
.description {font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
  color: var(--texts-second, #333);
  text-align: center;
  }
  .services-name {
font-family: PT Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
color: var(--texts-texts-basic, #000);
text-align: center;
 }
.services-title {
font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
text-transform: uppercase;
color: var(--texts-texts-basic, #000);
text-align: center;
}
.services-p {
  font-family: PT Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 118.182% */
color: var(--texts-second, #333);
text-align: center;
}
.bid {font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  color: var(--texts-texts-basic, #000);
  text-align: center;
}
.bid-item {
font-family: PT Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 118.182% */
color: var(--texts-second, #333);
text-align: center;
}
.button-seach {
color: #fff;
font-family: "PT Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-decoration: none;
background: #756157;
border-radius: 4px;
margin: 0 auto;
display: block;;
}
/*Page-footer*/
.index-footer{
  background-image: url("../images/index/fon subscription.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  color:#000;
  background-color: var(--basic-white, #FFF);
  }
  .page-footer-title{
font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
text-transform: uppercase;
color: var(--texts-background-deafault, #FFF);
text-align: center;
  }
  .page-footer-item {
    font-family: PT Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 118.182% */
color: var(--texts-background-deafault, #FFF);
text-align: center;
}
.field{
display: flex;
padding: 12px 20px;
align-items: center;
gap: 260px;
flex: 1 0 0;
align-self: stretch;
border-radius: 4px 0px 0px 4px;
background: var(--basic-light, #F2F2F2);
color: var(--basic-black, #000);
font-family: PT Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}
.newsletter-button {
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 180% */
text-transform: uppercase;
color: var(--texts-background-deafault, #FFF);
text-align: center;
display: inline-flex;
padding: 8px 50px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 0px 4px 4px 0px;
background:#82B3D3;
}
.contacts-phone {
  font-family: PT Sans;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
text-transform: uppercase;
color: var(--texts-texts-basic, #000);
text-align: center;
}
